@font-light: 1.250em 'LibreFranklinLight', sans-serif;
@bgc: #F5F5F5;

ul {
  list-style: none;
  margin: 0; 
  padding-left: 0; 
}
a {
	text-decoration: none;
	color: #fff;
	&:hover {
		text-decoration: none;
		color: #44B900;
	}
}
.row {
	margin: 0;
}
.burgerMenu {
	width: 44px;
	height: 21px;
	background-image: url('../icon/Burger menu.png');
	position: absolute;
	margin: 2.869% 5.595%;
}

main {
	padding: 0 !important;
	font: @font-light;
	font-size: 2.250em;
	background-color: @bgc;
	.analytic {
		padding: 2.421% 15.614%;
		background-color: #fff;
		&__title {
			color: #44B900;
		}
	}
}
.menu-mover {
	display: none; 
}
aside {
    display: none;
	position: absolute !important;
	z-index: 1;
	font: @font-light;
	color: #fff;
	background-color: #000;
	height: 100%;
	.logo {
		padding: 18.506% 23.85% 14.256%;
	}
	.account {
		text-align: center;
		&__name {
			padding: 13.125% 0 23.125%;
		}
	}
	nav {
		li {
			padding: 4.219% 0 4.219% 12.5% ;
			a {
				display: flex;
				justify-content: space-between;
			}
		}
	}
}
