@font-light: 'LibreFranklinLight', sans-serif;
@font-regular: 'LibreFranklinLight', sans-serif;
@font-extra-light: 'LibreFranklinExtraLight', sans-serif;
@bgc: #F5F5F5;
@description-color: #989898;
@not-active-color: #E2E2E4;
@name-color: #D5D5D5;
@title-color: #414141;


body {
	position: relative;
}
ul {
  list-style: none;
  margin: 0; 
  padding-left: 0; 
}
a {
	text-decoration: none;
	color: #fff;
	&:hover {
		text-decoration: none;
		color: #44B900;
	}
}
.row {
	margin: 0;
}
[type="checkbox"] {
	display: none;
}
button {
	color: #fff;
	padding: 17.44px 72.46px 17.92px 28.79px;
	border: none;
}
label {
	margin: 0;
}
canvas {
	margin: 0 auto;
}
.chart-block {
	padding: 50.27px 45.57px 49.61px 35.8px;
	box-shadow: 0 0 25px 3px rgba(0,0,0, 0.15);
	background-color: #fff;
	
	&__header {
		border-bottom: 1px solid @not-active-color;
		margin-bottom: 8%;
		padding-bottom: 19.5px;
		display: flex;
		justify-content: space-between;

	}
	&__title {
		display: inline-block;
	}
	select {
		border: 1px solid #44B900;
		border-radius: 30px;
		color: #44B900;
		padding: 7.54px 26.3px 7.46px 21.67px; 
		margin-bottom: 0.5%;
		
		/*for WebKit*/
		-webkit-appearance: none;
		/* for FF */
		-moz-appearance: none;
		text-indent: 0.01px; 
		text-overflow: '';
		/* for IE */
		-ms-appearance: none;
		appearance: none!important;
		
		background-image: url('../icon/bottom-button-green.svg');
		background-size: 10px;
		background-position: 122px center;
		background-repeat: no-repeat;
	}
}
h2 {
	color: #707070;
	font-size: 1.25em;
	padding-left: 10px;
}
sup {
	top: -20px;
	right: -2px;
}
.burgerMenu {
	width: 44px;
	height: 21px;
	background-image: url('../icon/Burger menu.png');
	position: absolute;
	margin: 2.869% 5.595%;
}

main {
	padding: 0 !important;
	font-family: @font-light;
	background-color: @bgc;
	
	/*-----------------------analytic-----------------------*/
	.analytic {
		padding: 2.421% 15.614% 2.451%;
		background-color: #fff;
		&__title {
			color: #44B900;
			font-size: 2.250em;
			width: 35%;
		}
		&__top-block {
			display: flex;
			justify-content: space-between;
			font: 1.250em @font-regular;
			span {
				color: @description-color;
			}
		}
		&__currency {
			padding-top: 1.7%;
		}
		&__currency-icon {
				color: #fff;
				background-color: #44B900;
				width: 30px;
				height: 30px;
				border-radius: 100%;
				display: inline-block;
				text-align: center;
				padding: 3px 0;
			}
		&__selectors {
			font-size: 1.250em;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 1.5% 0;
			select {
				/*for WebKit*/
				-webkit-appearance: none;
				/* for FF */
				-moz-appearance: none;
				text-indent: 0.01px; 
				text-overflow: '';
				/* for IE */
				-ms-appearance: none;
				appearance: none!important;
				
				color: @description-color;
				border: none;
				border-bottom: 1px solid @not-active-color;
				padding: 1.165% 0;
				width: 17%;
				min-width: 185px;
				
				background-image: url('../icon/bottom-button.svg');
				background-size: 10px;
				background-position: 99% center;
				background-repeat: no-repeat;
			}
		}
		[type="text"] {
			font-size: 0.944em;
			border: none;
			text-align: right;
			color: @description-color;
			width: 135px;
		}
		&__date {
				background-image: url('../icon/calendar (1).svg');
				background-size: 24.83px;
				background-position: 99% center;
				background-repeat: no-repeat;
				width: 170px !important;
				text-align: left !important;
			}
		.analytic__date-block {
			border-bottom: 1px solid @not-active-color;
			color: @description-color;
			display: inline-block;
			margin: 0;
			padding: 1.165% 0;
		}
		&__bottom-block {
			padding: 1.927% 0 1.77%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		&__checkboxes-block {
			color: @not-active-color;
			label {
				min-width: 220px;
				display: flex;
				align-items: center;
				margin: 0;
			}
			#analyticCheckboximg1 {
				background-image: url('../icon/Group 50.svg');
			}
			#analyticCheckboxLabel1 {
				color: #989898;
			}
		}
		&__checkboximg {
			background: url('../icon/Rectangle 20.svg') no-repeat;
			display: inline-block;
			width: 22.8px;
			height: 22.8px;
			margin: 4% 1.568%;			
		}
		button {
			font-size: 1.250em;
			background: url('../icon/Path 9.svg') no-repeat #44B900;
			background-size: 24.34px 24.34px;
			background-position: 85% 43%;
		}
	}
	
	/*-----------------------statistic-----------------------*/
	.statistic {
		background-image: url('../img/Mask Group 5.png');
		background-size: cover;
		background-position: center;
		font-family: @font-extra-light;
		&__gradient {
			background: linear-gradient(0, #44B900, #414141);
			padding:  6.313% 0 8.25%;
			opacity: 0.78;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
		}
		&__block {
			margin: 3.563%;
		}
		&__name {
			color: @name-color;
			font-size: 1.250em;
		}
		&__value {
			color: #fff;
			font-size: 2.813em;
			padding: 0 0 8.394%;
		}
	}
	.charts-section {
		width: 70%;
		margin: 0 auto;
		position: relative;
		top: -3.07%;
	}
	/*---------table----------*/
	.table {
		&__header {
			display: flex;
			justify-content: space-between;
		}
		&__title {
			font-family: @font-light;
			font-size: 1.25em;
			color: @title-color;
			margin: 0;
		}
		&__checkbox-block {
			display: flex;
			justify-content: flex-end;
			padding: 0;
			margin: 0;
			form {
				width: 61.309%;
				display: flex;
				align-items: center;
				justify-content: space-around;
			}
			label {
				display: flex;
				align-items: center;
				color: @description-color;
			}
		}
		&__checkboximg {
			background: url('../icon/Rectangle 20.svg') no-repeat;
			display: inline-block;
			margin-right: 19px;
			width: 22.8px;
			height: 22.8px;
		}
		#tableCheckboximg1 {
			background: url('../icon/Group 50.svg') no-repeat;
		}
		table {
			width:100%;
			border-color: @not-active-color;
			margin-top: 1.206%;
			th {
				font: 1.125em @font-regular;
				color: @title-color;
				padding-top: 2.083%;
				img {
					margin: 0 0 0 15%;
				}
			}
			td {
				font: 1em @font-light;
				color: #707070;
				text-align: center;
			}
			tr:nth-child(odd) {
				background: #fff;
			}
			tr:nth-child(even) {
				background: @bgc;
			}
		}
		&__name-line {
			text-align: left !important;
		}
		&__first-column {
			width: 13%;
		}
	}
}
/*-------------charts-----------*/
.block-with-two-charts {
	margin: 60px 0;
}
/*------------chart1------------*/
.chart1 {
	margin-right: 0.938%;
	&__chart {
		position: absolute;
		bottom: 49.61px;
	}
	&__chartjsLegend {
		margin: 0 auto;
		width: 40%;
		padding-top: 60px;
	}
	&__chartjsLegend ul {
		display: flex;
		justify-content: space-between;
	}
	&__chartjsLegend li {
		font-size: 1.25em;
		color: @description-color;
		display: inline-block;
	}
	&__chartjsLegend li span {
		display: inline-block;
		width: 20.12px;
		height: 20.12px;
		margin-right: 17.4px;
		border-radius: 100%;
	}
}
/*------------chart1------------*/
.chart2 {
	&__chartjsLegend {
		margin: 0 auto;
		width: 50%;
		padding-top: 55px;
	}
	&__chartjsLegend ul {
		display: flex;
		justify-content: space-between;
	}
	&__chartjsLegend li {
		font-size: 1.25em;
		color: @description-color;
		display: inline-block;
	}
	&__chartjsLegend li span {
		
		display: inline-block;
		width: 20.12px;
		height: 20.12px;
		margin-right: 17.4px;
		border-radius: 100%;
	}
}
/*------------chart3------------*/
.chart3 {
	margin-right: 0.938%;
	&__chartjsLegend {
		margin: 0 auto;
		width: 50%;
		padding-top: 55px;
	}
	&__chartjsLegend ul {
		display: flex;
		justify-content: space-between;
	}
	&__chartjsLegend li {
		font-size: 1.25em;
		color: @description-color;
		display: inline-block;
	}
	&__chartjsLegend li span {
		
		display: inline-block;
		width: 20.12px;
		height: 20.12px;
		margin-right: 17.4px;
		border-radius: 100%;
	}
}
/*---------aside----------*/
.menu-mover {
	display: none; 
}
aside {
    display: none;
	position: absolute !important;
	z-index: 1;
	font: 1.250em @font-light;
	color: #fff;
	background-color: #000;
	height: 100%;
	.logo {
		padding: 18.506% 23.85% 14.256%;
	}
	.account {
		color: @name-color;
		text-align: center;
		&__name {
			padding: 13.125% 0 23.125%;
		}
	}
	nav {
		li {
			padding: 4.219% 0 4.219% 12.5% ;
			a {
				display: flex;
				justify-content: space-between;
			}
		}
	}
}